@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-navy bg-bg font-sans;
  }
}

@layer components {
  .btn-primary {
    @apply bg-navy text-white px-6 py-3 rounded-xl font-bold uppercase tracking-widest text-[11px] hover:bg-navy-light transition shadow-xl;
  }
  
  .card-shadow {
    @apply shadow-[0_8px_30px_rgb(0,0,0,0.04)] hover:shadow-[0_15px_45px_rgb(0,0,0,0.06)] transition-all duration-500;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f8f9fc;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e6ef;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
